.fruit-img{
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.cartItem{
  display: flex;
}

.quantity{
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 15%;
}

.cartItem button{
  margin-top: auto;
  margin-bottom: auto;
}

.remove{
  background-color: red;
}


.add{
  background-color: green;
}

.item-name{
  margin-top: auto;
  margin-bottom: auto;
}